<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=*, initial-scale=1.0">
    <title>VUE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="app" v-cloak>
        <h3>{{ nolan }}</h3>

        <hr>
        <h2>Movies: </h2>
        <h4 v-for="(film, index) in films" :key="index">{{ film }}</h4>

        <hr>

        <div class="card-container">
            <div class="card" 
                 v-for="(videogame, index) in videogames" 
                 :key="index" 
                 @mouseover="videogame.isHover = !videogame.isHover" 
                 :class="{active: videogame.isHover == true}"
            >
                <h3>{{ videogame.title }}</h3>
                <h5>Console: {{ videogame.console }}</h5>
                <h5 v-if="isVisible">Release: {{ videogame.year }}</h5>
            </div>
        </div>

        <button @click.prevent="isVisible = !isVisible">CHANGE</button>
        <button @click.prevent="nolan = director">SPLIT DIRECTOR</button>

    </div>
    
</body>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data(){
                return{
                    isVisible: true,
                    nolan: 'Cristopher',
                    director: 'Nicholas Cage',
                    films: ['Dark Knight', 'Oppenheimer', 'Memento'],
                    videogames: [
                        {title: 'Starfield', console: 'Xbox Series X/S', year: 2023, isHover: false},
                        {title: 'Doom Eternal Infinitum', console: 'Playstation 7', year: 2047, isHover: false},
                        {title: 'The Elder Scrolls 6', console: 'Xbox Series W', year: 2066, isHover: false},
                        {title: 'Half Life 3', console: 'Nintendo Box', year: 2099, isHover: false},
                    ]
                }
            }
        }).mount('#app')
    </script>
</html>