<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=*, initial-scale=1.0">
    <title>VUE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="app" v-cloak>
        <h3>{{ nolan }}</h3>

        <hr>
        <h2>Movies: </h2>
        <h4 v-for="(film, index) in films" :key="index">{{ film }}</h4>

        <hr>

        <div class="card-container">
            <div class="card" 
                 v-for="(videogame, index) in videogames" 
                 :key="index" 
                 @mouseover="currentGame = index" 
                 :class="{active: currentGame == index}"
            >
                <h3>{{ videogame.title }}</h3>
                <h5>Console: {{ videogame.console }}</h5>
                <h5 v-if="isVisible">Release: {{ videogame.year }}</h5>
            </div>
        </div>

        <h3 :class="[clicked ? 'nonHoFame' : 'fame']">Hai fame?</h3>
        <h1 v-show="visibile">CIAOOOOOOOOOOOO</h1>

        <button @click.prevent="isVisible = !isVisible">CHANGE</button>
        <button @click.prevent="nolan = director">SPLIT DIRECTOR</button>
        <button @click.prevent="clicked = !clicked">NON HO FAME</button>
        <button @click.prevent="visibile = !visibile">NASCONDI/MOSTRA</button>
        
        <h3 v-if="marando1">CIAO</h3>
        <h3 v-else-if="marando2">HOLA</h3>
        <h3 v-else>BUONGIORNO</h3>

    </div>
    
</body>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data(){
                return{
                    marando1: true,
                    marando2: false,
                    visibile: false,
                    clicked: false,
                    currentGame: 0,
                    nolan: 'Cristopher',
                    director: 'Nicholas Cage',
                    films: ['Dark Knight', 'Oppenheimer', 'Memento'],
                    videogames: [
                        {title: 'Starfield', console: 'Xbox Series X/S', year: 2023},
                        {title: 'Doom Eternal Infinitum', console: 'Playstation 7', year: 2047},
                        {title: 'The Elder Scrolls 6', console: 'Xbox Series W', year: 2066},
                        {title: 'Half Life 3', console: 'Nintendo Box', year: 2099},
                    ]
                }
            }
        }).mount('#app')
    </script>
</html>